<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jrotc_guidon_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15D309CD2231C47900D6D6CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D309E12231C54500D6D6CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D309EC2231C54500D6D6CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
